<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to capture photos for treasures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select photos for treasures.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to place and find treasures nearby.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location to notify you when treasures are nearby.</string>
</dict>
</plist>
